@model EntityLayer.Concrete.Customer
@{
    ViewBag.Title = "EditCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Müşteri Bilgileri Düzenleme Sayfası</h2>
<form method="post">
    <label>Müşteri ID</label>
    @Html.TextBoxFor(x => x.CustomerID, new { @class = "form-control" })
    <label>Müşteri Adı</label>
    @Html.TextBoxFor(x => x.CustomerName, new { @class = "form-control" })
    <br />
    <label>Müşteri Soyadı</label>
    @Html.TextBoxFor(x => x.CustomerSurname, new { @class = "form-control" })
    <br />
    <label>Müşteri Şehri</label>
    @Html.TextBoxFor(x => x.CustomerCity, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-info">Verileri Güncelle</button>
</form>